<div class="flex flex-col gap-8 mb-12">
    <div class="flex justify-end">
        <div class="bg-neutral-700 text-white px-4 py-2 rounded-l-full rounded-tr-full max-w-xs">
            {{ user_message }}
        </div>
    </div>
    <div
        id="bot-response-{{ hash }}"
        class="text-left text-white"
        hx-get="/bot-response/?message={{ user_message|urlencode }}"
        hx-trigger="load"
        hx-swap="outerHTML"
    >
        <div class="italic text-neutral-400 px-2">Assistant is typing...</div>
    </div>
</div>


